torch==2.1.0
torchvision
torchaudio
transformers==4.35.0
datasets
seqeval
pandas
numpy<2
scikit-learn
pdfplumber
PyPDF2
fastapi
uvicorn
sentence-transformers
chromadb==0.5.5
llama-index
jupyter
notebook
